Screen {
    height: 100%;
    width: 100%;
}


#cont01 {
    layout: grid;
    grid-size: 1;
    grid-gutter: 1;
    margin-top: 2;
    padding-bottom: 2;
}

#cont02 {
    layout: grid;
    grid-size: 2;
    grid-gutter: 2;
    padding: 1;
}

#label_dir, #label_lang {
    width: 100%;
    height: 100%;
    column-span: 1;
    content-align: center bottom;
    text-style: bold;
}

#input {
    width: 100%;
}

#select_file, #select_lang {
    width: 100%;
    column-span: 1;
    content-align: center bottom;
    text-style: bold;
}

#b_extrair, #b_exibir {
    width: 25%;
    column-span: 2;
    content-align: center bottom;
    margin: 0 5;    
}


#cont03 {
    align-horizontal: center;
}

#label_content {
    width: 100%;
    column-span: 2;
    content-align: center bottom;
    text-style: bold;
}

